<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Turnover List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<style>body {
  background-color: #f4f6f9;
  color: #343a40;
}

a  {
color: 605bff;
text-decoration: none;
background-color: #192434;
padding: 8px 12px;
border-radius: 4px;
transition: background-color 0.3s ease, color 0.3s ease;
} 


[class*=sidebar-dark-] .sidebar a {
color: #9cc6ff;
}

a:hover {
background-color: #22baa6;
color: white;
}

.bg-primary {
background-color: #374992 !important;
}

.dark-mode .nav-pills .nav-link {
color: #9cc6ff;
}





.nav-pills .nav-link {
  color: 605bff;
}

.navbar-light {
  background-color: #e3f2fd;
  border-color: #dee2e6;
}

.active {
  background-color: #71b1f5 !important;
}





[class*=sidebar-dark-] .sidebar a {
color: #9cc6ff;
}


.content-wrapper {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #333;
}

.btn-tool {
    background-color: transparent;
    color: 605bff;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}

.navbar-dark {
    background-color: #ffffff;
    border-color: #dee2e6;
}

.dark-mode .navbar-dark {
    background-color: #ffffff;
    border-color: #dee2e6;
}

.nav-sidebar .nav-item>.nav-link {
    margin-bottom: .2rem;
}

.card {
    background-color: #ffffff;
    color: #333;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search {
    background-color: #ffffff;
    outline: none;
    border-color: #dee2e6;
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-link {
    background-color: #ffffff;
    border-color: #dee2e6;
    color: 605bff;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


tbody tr:nth-child(odd) {
    background: #f3f2ff !important;
}

thead tr {
    background-color: #605bff; 
}

thead tr {
    background-color: #605bff; /* Sets the background for the table header row */
}

thead th {
    background-color: #605bff; /* Sets the background for individual header cells */
    color: white; /* Optional: Set text color for better contrast */
}

.card-title {
    color: #605bff;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        
}

.pagination{
  gap: 5PX;
}

#search {
      width: 80%;
      height: 60px;
      border: 2px solid #ced4da;
      border-radius: 10px;
      font-size: 16px;
      color: #343a40;

    }
    #search:focus {
      outline: none;
      border-color: #605bff;
      box-shadow: 0 0 4px rgba(0, 123, 255)
    }
</style>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
     <%- include('nav') %>
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="" style="color: #605bff; font-size: 2rem;  font-weight: bold;">Turnover Report</h1>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <div class="form-group" style="text-align: center;">
        <input type="text" id="search" placeholder="Enter the account to search">
      </div>

      <!-- Main content -->
      <section class="content">
        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Turnover Report</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-0" style="overflow-y: hidden;">
            <table class="table table-striped projects" id="table1">
              <thead>
                <tr>
                   <th class="text-center">#</th>
                  <th class="text-center">Userid</th>
                  <th class="text-center">Sponserid</th>
                  <th class="text-center">Total Deposit</th>
                  <th class="text-center">Total Withdarwal</th>
                  <th class="text-center">Total Bonus</th>
                  <th class="text-center">Total Bets</th>
                  <th class="text-center">Total Win</th>
                  <th class="text-center">Total Loss</th>
                  <th class="text-center">Current Bal.</th>
                  <th class="text-center">Total P/L</th>
                </tr>
              </thead>
              <tbody>
                <!-- Deposit data will be displayed here -->
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example" style="margin-top: 20px;display: flex;justify-content: center;">
            <ul class="pagination table1">
              <li class="page-item previous">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <div id="numbers" style="display: flex;"></div>
              <li class="page-item next">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </div>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="/js/admin/admin.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="/js/admin/tables.js"></script>
  <script>
    function formateT(params) {
        let result = (params < 10) ? "0" + params : params;
        return result;
    }
    
    function timerJoin(params = '') {
        let date = '';
        if (params) {
            date = new Date(Number(params));
        } else {
            date = new Date();
        }
        let years = formateT(date.getFullYear());
        let months = formateT(date.getMonth() + 1);
        let days = formateT(date.getDate());
        return years + '-' + months + '-' + days;
    }
    function show(params) {
      if (params.length == 0) {
        $('tbody').html(`
            <tr class="text-center">
              <td colspan="7">No more data available...</td>
            </tr>
          `);
        return;
      }
      let html = '';
      params.map((data) => {
        console.log(data);
       html += `<tr class="text-center">
                  <td id="${data.id}">
                    ${data.id}
                  </td>
                  <td>
                    <b>${data.phone}</b>
                  </td>
                  <td>
                    <b>${(data.invite)}</b>
                  </td>
                  <td>
                    <b>${data.total_deposit}</b>
                  </td>
                  <td>
                    <b>${data.total_withdrawal}</b>
                  </td>
                  <td>
                    <b>${data.total_bonus}</b>
                  </td>
                  <td>
                    <b>${data.bets}</b>
                  </td>
                  <td style="min-width: 190px;">
                    <b>${((data.win))}</b>
                  </td>
                  <td style="min-width: 190px;">
                    <b>${data.loss >0?data.loss:0}</b>
                  </td>
                  <td>
                    <b>${data.money}</b>
                  </td>
                  <td style="min-width: 190px;">
                    <b>${Number(data.win-data.bets).toFixed(2)}</b>
                  </td>
                </tr>`;
              })
          $('tbody').html(html);
    }
    const currentURL = window.location.href;
    // Parse the URL to get the search parameters
    const urlSearchParams = new URLSearchParams(window.location.search);
    let today = false;
    if(urlSearchParams.size > 0){
       today = true;
    }
    $.ajax({
      type: "POST",
      url: "/api/webapi/admin/turnover",
      data: {
      },
      dataType: "json",
      success: function (response) {
        show(response.data)
      }
    });
  </script>
</body>

</html>
